---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [1]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)
names_ids = df.index.str.split('\s\(') # split the index by '('
df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [3]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [48]:
def answer_one():
    return df.sort_values("Gold", ascending=False).index[0]

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [56]:
def answer_two():
    df["Diff"] = abs(df["# Summer"]-df["# Winter"])
    return df.sort_values("Diff").index[0]

'Soviet Union'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [75]:
def answer_three():
    df1 = df[(df["Gold"] >1) & (df["Gold.1"] >1)]
    df1["Rel"] = abs((df1["Gold"]-df1["Gold.1"])/(df1["Gold"]+df1["Gold.1"]))
    return df1.sort_values("Rel", ascending=False).index[0]

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

'Australia'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [83]:
def answer_four():
    df["Points"] = df["Gold.2"]*3 + df["Silver.2"]*3 + df["Bronze.2"]
    return df["Points"]

Afghanistan                            2
Algeria                               29
Argentina                            154
Armenia                               18
Australasia                           26
Australia                           1078
Austria                              680
Azerbaijan                            48
Bahamas                               26
Bahrain                                1
Barbados                               1
Belarus                              182
Belgium                              329
Bermuda                                1
Bohemia                                6
Botswana                               3
Brazil                               214
British West Indies                    2
Bulgaria                             498
Burundi                                3
Cameroon                              13
Canada                              1001
Chile                                 31
China                               1288
Colombia                              35
Costa Rica                             8
Ivory Coast                            3
Croatia                               80
Cuba                                 487
Cyprus                                 3
                                    ...
Spain                                327
Sri Lanka                              6
Sudan                                  3
Suriname                               4
Sweden                              1421
Switzerland                          743
Syria                                  7
Chinese Taipei                        39
Tajikistan                             5
Tanzania                               6
Thailand                              50
Togo                                   1
Tonga                                  3
Trinidad and Tobago                   32
Tunisia                               22
Turkey                               216
Uganda                                17
Ukraine                              248
United Arab Emirates                   3
United States                       6543
Uruguay                               18
Uzbekistan                            43
Venezuela                             20
Vietnam                                6
Virgin Islands                         3
Yugoslavia                           203
Independent Olympic Participants       5
Zambia                                 4
Zimbabwe                              22
Mixed team                            43
Name: Points, dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [28]:
def answer_five():
    census_df = pd.read_csv('census.csv')
    s = census_df.groupby(['STNAME']).size()
    s = s.sort_values(ascending=False)
    return s.index[0]
answer_five()

'Texas'

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [2]:
def answer_six():
    census_df = pd.read_csv('census.csv')
    # remove states (code 40)
    df = census_df[census_df["SUMLEV"]==50]
    # group by state, find sum of 3 most populous counties within a state (with apply), find 3 largest sums
    df_3 = df.groupby(['STNAME'])['CENSUS2010POP'].apply(lambda x: x.nlargest(3).sum()).nlargest(3)
    # get index values (names)
    return df_3.index.values.tolist()
answer_six()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [58]:
def answer_seven():
    # data
    census_df = pd.read_csv('census.csv')
    # remove states
    df = census_df[census_df["SUMLEV"]==50]
    # subset to data we are interested in
    df = df[["CTYNAME","POPESTIMATE2010", "POPESTIMATE2011", "POPESTIMATE2012", "POPESTIMATE2013","POPESTIMATE2014","POPESTIMATE2014"]]
    # reindex
    df = df.set_index("CTYNAME")
    # find largest difference
    return df.apply(lambda x: x.max()-x.min(), axis=1).nlargest(1).index[0]
answer_seven()

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [15]:
def answer_eight():
    census_df = pd.read_csv('census.csv')
    census_df.head()
    df = census_df[census_df["SUMLEV"]==50]
    df = df[["STNAME", "CTYNAME", "REGION", "POPESTIMATE2014", "POPESTIMATE2015"]]
    df = df[(((df["REGION"]==1) | (df["REGION"]==2)) & 
               (df["CTYNAME"].apply(lambda x: x.startswith('Washington'))))]
    df = df[df["POPESTIMATE2014"] < df["POPESTIMATE2015"]]
    return df[["STNAME", "CTYNAME"]]
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County